#window-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

#selectbox-div {
    display: flex;
    width: 200px;
}

#reservation-display-outer-container {
    display: flex;
    overflow: hidden;
}

#reservation-display-container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    overflow: auto;
}

#table-header {
    display: flex;
    border: solid;
    border-width: 1px;
    min-width: 300px;
    height: 50px;
    grid-column: 1;
    grid-row: 1;
    overflow: hidden;
}

#month-display {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    font-size: 150%;
    line-height: 200%;
    cursor: default;
    user-select: none;
}

#previous-month-button {
    display: flex;
    cursor: default;
    user-select: none;
    padding: 2%;
}

#next-month-button {
    display: flex;
    cursor: default;
    user-select: none;
    padding: 2%;
}

#date-container {
    display: flex;
    grid-column: 2;
    grid-row: 1;
    white-space: nowrap;
    overflow-x: scroll;
    opacity: 1;
}

#days-container::-webkit-scrollbar {
    display: none;
}

#rental-car-items-container {
    display: flex;
    grid-column: 1;
    grid-row: 2;
    flex-direction: column;
    white-space: nowrap;
    overflow-x: scroll;
}

#vehicle-items-container::-webkit-scrollbar {
    display: none;
}

#visual-schedule-container {
    display: flex;
    grid-column: 2;
    grid-row: 2;
    overflow-x: scroll;
    overflow-y: scroll;
}