#vehicle-input-table {
    white-space: nowrap;
}

#image-preview-container {
    display: flex;
    height: 200px;
    width: 200px;
}

#seating-capacity {
    width: 50px;
}

#license-plate-code {
    width: 70px;
}

#license-plate-number {
    width: 80px;
}

#image-preview {
    object-fit: contain;
}

#JAFcard-number {
    width: 50px;
}