.container {
    white-space: nowrap;
    min-width: 800px;
}

.input-group-text {
    width: 8em;
    text-align: center;
}

.btn {
    width: 5em;
}

/* .row {
    display: flex;
    flex-wrap: nowrap;
}

.col-md {
    max-width: 50%;
    box-sizing: border-box;
} */

/* #rental-category-container {
    flex-wrap: nowrap;
    text-align: center;
}

#comment-textarea {
    min-height: 200px;
} */