.container {
    white-space: nowrap;
    min-width: 800px;
}

.input-group-text {
    width: 6em;
    text-align: center;
}

.flight-number-span {
    width: 3em;
}

.input-form {
    text-align: center;
}

#new-return-datetime {
    width: 9em;
}

#comment-textarea {
    height: 10em;
}

.btn {
    width: 5em;
}